<div class="input-group">
    <button type="button" class="btn btn-info" (click)="toggleLockComponent()" [disabled]="!is_locked && this.search_text.length < 3"
    tooltip="Lock the set if you want to search only by card codes">
        <i *ngIf="!is_locked" class="pi pi-lock"></i>
        <i *ngIf="is_locked" class="pi pi-lock-open"></i>
    </button>

    @if (is_locked) {
        <input id="prefix_text" type="text" class="prefix-text" [(ngModel)]="locked_prefix" disabled/>
    }
    
    <input id="main_text" type="text" class="form-control search-text" [(ngModel)]="search_text" 
    (keydown)="triggerSearch($event)" />

    <button type="button" class="btn btn-info" (click)="searchCard()" [disabled]="this.search_text.length < 3 || (is_locked && this.search_text.length < 1)"
    tooltip="Search Card" placement="bottom">
        <i class="pi pi-search"></i>
    </button>
  </div>